 {% extends 'news/base.html' %}
 {% load static %}

 {% block content %}

   <h1 class="text-center">parolni tiklash</h1>
 <p>parolni tiklash uchun emailingizni kiriting:</p>
   <p>emailingizga parolni tiklash uchun link yuborildi.</p>

    {% if validlink %}

        <p>iltimos yangi parolni ikki marotaba kiriting:</p>
        <form method="post"> {% csrf_token %}
        {{ form.as_p }}
        <p><button type="submit">parolni ozgartirish</button></p>
        </form>
    {% else %}
        <p>siz notori linkdan foydalandingiz, bu linkdan avval foydalangan bolishingiz yoki ishlatish muddati otib ketgan mumkin?</p>


    {% endif %}


 {% endblock %}